*.pyc

*.opensdf
*.sdf
*.user
*.exe
*.VC.opendb
*.psess
*.pdb
*.deps
*.VC.db
*.iobj
*.ipdb
*.pyd
*_wrap.cpp
*.htm
*.dll
*.so*
*.o

.vs/
__pycache__/
output/
CarlCore/objs/**
results/
x64/
Debug/
Release/external/
gmake/
lib/
external/
Backup/
data/intermediate/
venv/
.ipynb_checkpoints/
.vscode/

CarlMain
CarlCore/CarlCore.py

CarlCore/CarlCore.o
CarlCore/CarlCore_wrap.o
CarlCore/CarlCore_wrap.cxx
CarlCore/_CarlCore.so

.project
.pydevproject